html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nopad{
  padding:0!important
}

footer{
  background-color: #000;
  color: #fff;
  padding:15px;
  margin-top:30px
}

.jumbotron{
  margin-top:55px
}
